* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Merriweather', serif;	
	background-color: #212121;
	color: whitesmoke;
	width: 1000px;
	text-align: center;
	margin: auto;
}

h1 {
	padding-top: 250px;
	font-size: 5em;
}