body {
	font-family: courier, serif;
	width: 800px;
	margin: 10px auto 10px auto;
	padding: 0px 100px 0px 100px;
	border-color: black 3px;
	border-style: double;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
}

span {
	font-size: 2em;
	font-weight: bolder;
}

ul {
	text-align: center;
}

li {
	display: inline;
	margin: 0px 20px 0px 20px;
	text-transform: uppercase;
}

li > a {
	text-decoration: none;
}

li > a:hover {
	text-decoration: none;
	color: red;
}

.hero-images {
	text-align: center;
	margin: 20px 0 20px 0;
}

.hero-images > img {
	height: 150px;
}

p {
	text-align: center;
	padding-bottom: 50px;
}