* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../images/gallery/backdrop.gif);
	background-repeat: repeat;
	color: #665544;
}

p {
	padding: 20px 0px;
}

.wrapper {
	width: 720px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 100px;
	overflow: auto;
}

figure {
	padding: 10px;
	background-image: url(../images/gallery/shadow.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

figcaption {
	padding: 5px 20px;
	text-align: left;
	background-image: url(../images/gallery/icon.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.col-1-of-3 {
	background-color: #e7e3d8;
	width: 220px;
	height: 195px;
	float: left;
	margin: 10px;
	margin-bottom: 20px;
}

img.medium {
	width: 200px;
	height: 150px;
}

img {
	border: 1px solid lightgray;
}