* {
margin: 0;
padding: 0;
}

body {
	position: relative;
}

#nav-bar {
	width: 960px;
}

#content {
	position: absolute;
	width: 960px;
	top: 80px;
	margin: auto;
}

nav {
	background-color: #212121;
	position: fixed;
	width: 100%;
	z-index: 10;
	margin: auto;
}

li {
	display: inline;
	float: right;
	padding: 20px 20px;
}

li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.column1of2 {
	float: left;
	width: 620px;
	margin: 10px;
}

.column2of2 {
	float: left;
	width: 300px;
	margin: 10px;
}

.col1of3, .col2of3, .col3of3 {
	width: 300px;
	float: left;
	margin: 10px;
}

.clear {
	clear: left;
}

.outline {
	border: 1px solid black;
	overflow: auto;
	width: 100%;
}