* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4DA1A9;
  font-family: helvetica, arial, sans-serif;
  color: white;
}

#content {
  display: flex;
}

h1 {
  font-size: 5em;
}

h2 {
  font-weight: lighter;
}