* {
	margin: 0;
	padding: 0;
}

html {
	background: url(../images/landing/yosemite.png) no-repeat center center fixed;
}

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #FDFFFC;
	text-align: right;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	overflow: auto;
  width: 100%;
  padding: 20px 0px;
}

header nav {
  width: 960px;
  margin: auto;
}

header nav ul li {
	display: inline-block;
  padding-top: 10px;
}

header nav ul li a {
	color: #212121;
	list-style: none;
	text-decoration: none;
  padding: 0px 10px;
  font-size: 1em;
}

header nav ul li a:hover {
  color: #4DA1A9;
}

#logo {
	background-image: url(../images/landing/logo.png);
	background-repeat: none;
	display: inline-block;
	width: 150px;
	height: 36px;
	overflow: hidden;
	float: left;
	text-indent: 100%;
}

#logo:hover {
	background-position: 0px -36px;
}

#welcome {
	text-align: center;
	color: white;
  margin: auto;
}

#welcome h2 {
	margin: 10px;
}

#welcome .button {
	margin: 30px;
}

#welcome h1 {
	font-size: 3em;
  margin-top: 50px;
}

.section {
	margin: auto;
}

.section h1 {
	text-align: center;
  padding: 30px;
}

.divider {
  width: 200px;
  margin: auto;
  border: 1px solid #4DA1A9;
}

.container {
	position: absolute;
	top: 400px;
	background-color: #FDFFFC;
	width: 100%;
}

.grid-container {
  padding: 50px 0px;
  overflow: auto;
}

.col1of4 {
	width: 50%;
	float: left;
  overflow: auto;
  padding: 10px 0px;
}

.col1of4 p {
	margin: 5px;
	line-height: 1.5;
}

.icon {
  width: 100px;
  height: 100px;
  margin: auto;
}

.center {
	text-align: center;
}

.center h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.button {
	background-color: #4DA1A9;
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 50px;
}

.button:hover {
	background-color: #469299;
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 50px;
}

#testimonals {
	background-color: #4DA1A9;
	height: 200px;
}

@media (min-width: 480px) {
  #welcome h1 {
    font-size: 4em;
  }
}

@media (min-width: 750px) {
  .section {
    width: 100%;
  }
  .col1of4 {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .section {
    width: 960px;
  }
  .col1of4 {
    width: 25%;
  }
}