* {
	margin: 0;
	padding: 0;
}

html {
	background: url(../images/landing/yosemite.png) no-repeat center center fixed;
}

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #FDFFFC;
	text-align: right;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

header nav {
	padding: 20px;
}

header nav ul li {
	display: inline;
	padding-left: 10px;
}

header nav ul li a {
	color: #212121;
	list-style: none;
	text-decoration: none;
}

#welcome {
	text-align: center;
	color: white;
	margin: 50px;
}

h1 {
	font-size: 5em;
}

.section {
	padding-top: 2em;
	padding-bottom: 2em;
	width: 960px;
	margin: auto;
}

.container {
	position: absolute;
	top: 500px;
	background-color: #FDFFFC;
	width: 100%;
	z-index: 10;
}

.col1of3 {
	width: 33.33%;
	float: left;
	margin: 10px;
}
