* {
  margin: 0;
  padding: 0;
}

#content {
  height: 700px;
}

body {
  background-color: #FECC6F;
  position: relative;
  font-family: 'Wellfleet', cursive;
}

#logo {
  text-align: center;
  margin-top: 50px;
}

#man {
  position: absolute;
  right: 40px;
  top: 283px;
}

#chalkboard-frame {
  background-color: #523620;
  position: relative;
  height: 500px;
  width: 700px;
  margin: 40px auto;
  border-radius: 20px;
}

#chalkboard {
  background-color: #425A5A;
  position: absolute;
  height: 450px;
  width: 650px;
  top: 25px;
  right: 25px;
}

footer {
  height: 30px;
  background-color: #523620;
  bottom: 0;
}