body {
	font-family: 'Georgia', Times, serif;
	background-image: url(../images/layout/bg.jpg);
	background-repeat: repeat;
	margin: 0;
}

#nav {
	background-image: url(../images/layout/bg-header.jpg);
	background-repeat: repeat;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 10;
}

#nav-content {
	width: 960px;
	color: white;
	margin: auto;
}

#nav-bar-logo {
	float: left;
	padding: 30px 0 30px 0;
}

#nav-bar-triangle {
	position: absolute;
	float: left;
}

#nav-bar-links {
	float: right;
	font-size: 90%;
	padding: 30px 0 30px 0;
}

#content {
	position: relative;
	margin-top: 106px;
}

#image-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

#article-image {
	position: absolute;
	top: 143px;
	left: 123px;
	z-index: 5;
}

#content, #article-list, .article_grid {
	width: 960px;
	margin: auto;
}


ul > li {
	display: inline;
}

nav li a {
	text-decoration: none;
	color: darkseagreen;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: darkseagreen;
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	color: darkseagreen;
	text-transform: uppercase;
	font-weight: normal;
}

.date {
	font-family: 'Helvetica', Times, serif;
	color: darkseagreen;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 80%;
}

a {
	color: darkseagreen;
	text-decoration: none;
	font-weight: lighter;
}

p {
	color: white;
	line-height: 1.5em;
	font-weight: light;
	font-size: .80em;
}

#article {
	position: relative;
	padding-left: 750px;
	padding-top: 100px;
}

#article-header {
	position: absolute;
	right: 80px;
	top: 120px;
}

#article-body {
	padding-top: 100px;
	padding-bottom: 20px;
}

#article-list {
	padding-left: 0px;
}

.article-title {
	font-size: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.column1of4 {
	width: 220px;
	float: left;
	padding: 0px 10px 0px 10px;
}

.clearfix {
	clear:both;
}

footer {
	background-image: url(../images/layout/bg-header.jpg);
	background-repeat: repeat;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 0px;
	clear: both;
}

#footer-content {
	font-family: 'Helvetica', Times, serif;
	width: 920px;
	font-size: 12px;
	float: right;
	color: white;
}

footer ul li a {
	text-decoration: none;
	color: darkgray;
}

footer ul li {
	color: darkgray;
}