* {
	margin: 0;
	padding: 0;
}

html {
	background: url(../images/landing/yosemite.png) no-repeat center center fixed;
}

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #FDFFFC;
	text-align: right;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	overflow: auto;
}

header nav ul{
}

header nav ul li {
	display: inline-block;
	padding: 0 10px 0 10px;
	margin-top: 15px;
}

header nav ul li a {
	color: #212121;
	list-style: none;
	text-decoration: none;
	padding-top: 20px;
}

#logo {
	background-image: url(../images/landing/logo.png);
	background-repeat: none;
	display: inline-block;
	width: 150px;
	height: 36px;
	overflow: hidden;
	float: left;
	margin: 10px;
	text-indent: 100%;
}

#logo:hover {
	background-position: 0px -36px;
}

#welcome {
	text-align: center;
	color: white;
	margin: 100px;
	
}

#welcome h2 {
	margin: 20px;
}

#welcome .button {
	margin: 30px;
}

h1 {
	font-size: 5em;
}

.section {
	padding-top: 2em;
	padding-bottom: 2em;
	width: 960px;
	margin: auto;
}

.container {
	position: absolute;
	top: 500px;
	background-color: #FDFFFC;
	width: 100%;
	z-index: 10;
	display: inline;
}

.col1of4 {
	width: 22%;
	float: left;
	margin: 10px;
}

.col1of4 p {
	margin: 5px;
	line-height: 1.5;
}

.icon img {
	width: 100px;
	opacity: 0.5;
}

.center {
	text-align: center;
}

.center h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.button {
	background-color: #4DA1A9;
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 50px;
}

.button:hover {
	background-color: #469299;
	color: white;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 15px 50px;
}

#testimonals {
	background-color: #4DA1A9;
	height: 200px;
}