* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/cooking/dark-wood.jpg");	
}

#page {
	width: 940px;
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
}

header, footer {
	background-color: #AEACA8;
	text-align: left;
	color: white;
}

nav {
	padding: 5px;
}

nav ul li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	color: black;
	text-decoration: none;
}

section {
}


figure {
	border: 1px lightgray solid;
	text-align: center;
	width: 300px;
	padding-top: 5px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

article {
	overflow: auto;
	border-right: 1px #EFEFEF solid;
}

figcaption {
	text-align: left;
	padding: 5px 0px 5px 5px;
}

footer {
	padding: 10px;
}

hgroup h2 {
	color: #666666;
}

hgroup h3 {
	color: #DE6588;
}

aside { 
	float: right;
}

aside h2 {
	color: #DE6588;
}

aside ul {
	padding-right: 20px;
}

aside ul li {
	list-style: none;
	line-height: 2;
	display: block;
	padding: 5px 5px;
	border-bottom: 1px #EFEFEF solid;
}

aside ul li:hover {
	list-style: none;
	line-height: 2;
	display: block;
	padding: 5px 5px;
	background-color: #EFEFEF;
}


aside ul li a {
	text-decoration: none;
	color: #DE6588;
}

aside .recipes .contact {
	padding-left: 20px;
}
